{% block header %}

<div class="row">
    <div class="col-md-12" id="index-buttons">
        <p>
            {% if curr_session %}
              (DEBUG) current username: {{ curr_session.username }}
              <form action="/logout" method="post" id="logout-form">
                  <button type="submit" class="btn btn-primary" id="logout-button">Logout</button>
              </form>
            {% else %}
              (DEBUG) you aren't logged in!
              <a href="/login" class="btn btn-primary" id="login-button">Login</a>
              <a href="/register" class="btn btn-primary" id="register-button">Register</a>
            {% endif %}
          </p>
    </div>
    <div>
      <a href="/DEBUG_throw_404">DEBUG: throw 404</a>
      <a href="/DEBUG_throw_500">DEBUG: throw 500</a>
    </div>
</div>

{% endblock %}

{% extends "layout.html" %}

{% block content %}

<div class="page">
  <img src="{{ comic.image_url }}" class="comic-img" alt="Page 1">
</div>

<div class="comic-nav-bar" id="comic-nav-bar">

  <a class="comic-nav-button" id="comic-nav-button-first" href="/home?page=1">First</a>

  {% if comic.rowid != 1 %}
    <a class="comic-nav-button" id="comic-nav-button-prev" href="/home?page={{ comic.rowid - 1 }}">Previous</a>
  {% else %}
    <a class="comic-nav-button comic-nav-button-disabled" id="comic-nav-button-prev" href="#">Previous</a>
  {% endif %}

  {% if comic.rowid != latest.rowid %}
    <a class="comic-nav-button" id="comic-nav-button-next" href="/home?page={{ comic.rowid + 1 }}">Next</a>
  {% else %}
    <a class="comic-nav-button comic-nav-button-disabled" id="comic-nav-button-next" href="#">Next</a>
  {% endif %}

  <a class="comic-nav-button" id="comic-nav-button-last" href="/home">Latest</a>
</div>

<div class="row" id="comment-section">
    <div class="col-md-12">
        <h3>Comments Section</h3>
          <div class="comment-box" id="comment-box">
            {% if curr_session %}
              <form id="comment-form" action="/comment" method="POST">
                <p><label for="comment-input">Write a comment!</label></p>
                <textarea class="comment-input" id="comment-input" name="comment-input" form="comment-form" rows="4" cols="40"></textarea>

                <input type="hidden" name="page-id" value="{{ comic.rowid }}" />
                <input type="hidden" name="username" value="{{ curr_session.username }}" />

                <button id="comment-submit" class="comment-submit" type="submit">Post!</button>
              </form>
            {% else %}
              <p>Login to leave a comment!</p>
            {% endif %}
          </div>
          <div class="previous-comments" id="previous-comments">
            {% if comments %}
              {% for comment in comments %}
                <div class="individual-comment">
                  <p class="comment-username">{{ comment.username }}</p>
                  <p class="comment-content">{{ comment.content }}</p>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        <hr>
    </div>
    {% endblock %}