{% extends "signup-layout.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/login.css">

<div class="space" id="start"></div>

<div class="login">
    <h3 id="tag_title">Welcome back, Adventurer!</h3>
    <div class="form" id="login_class">
        <form action="/home" method="post" id="login_form">
            <div class="form-user" id="user">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
            </div>
            <div class="form-pass" id="pass">
                <label for=" password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="login_button">Login</button>
        </form>
    </div>
</div>

<div class="space" id="end"></div>

{% endblock %}